{% load staticfiles %}

<!doctype html>
<html>
  <head>
    <title>
      {% block title %}
        {% block page_name %}{% endblock %}
        Houston
      {% endblock %}
    </title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    {% block css %} {% endblock %}

    {% block head_extra %}{% endblock %}
  </head>

  <body>
    <div class="page-content">
      {% block content %}
        Base Template.
      {% endblock %}

      <footer class="page-footer">
        Inhouse analytics software, made with &#127866;, in space.
        <a href="https://github.com/RyanJenkins/Houston">Fork me hard baby.</a>
      </footer>
    </div>

    {% block js %}
      {% include "Houston/require.html" with bootstrap="base" %} 
    {% endblock %}
  </body>
</html>

